@{
    var listaPlanoConta = ViewBag.ListaPlanoConta as List<PlanoContaModel>;
    ViewData["Title"] = "Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<a role="button" href="../PlanoConta/Cadastro" type="button" class="btn btn-primary btn-lg">Criar item de Plano de
  Conta</a>
<hr />

<table class="table table-white table-striped">
  <thead>
    <tr>
      <th col">Id</th>
      <th col">Descrição</th>
      <th col">Tipo</th>
      <th col"></th>
      <th col"></th>
    </tr>
  </thead>
  <tbody>
    @{
            foreach (var item in listaPlanoConta)
            {
                                <tr>
                                  <td>@item.Id</td>
                                  <td>@item.Descricao</td>
                                  <td>@item.Tipo</td>
                                  <td>
                                    <button type="button" class="btn btn-outline-warning" onclick="Editar(@item.Id.ToString())">Editar</button>
                                  </td>
                                  <td>
                                    <button type="button" class="btn btn-outline-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button>
                                  </td>
                                </tr>
            }
        }
  </tbody>
</table>

<script>
  function Editar(id) {
    window.location.href = "../PlanoConta/Cadastro/" + id
  }

  function Excluir(id) {
    window.location.href = "../PlanoConta/Excluir/" + id
  }
</script>